  * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             color: #EDECEC;
            background-color: #14120B;
            letter-spacing: 0px;
        }
        
        body {
            font-family: -apple-system, BlinkMacSystemFont,  "Helvetica Neue", sans-serif;
            color: #EDECEC;
            background-color:  #14120B;
            line-height: 1.2;
            margin:0 10em;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            height: 10vh;
            padding: 1em;
        }
        
        .logo img {
            height: 1.7vh;
            
        }
        
        nav {
            display: flex;
            gap: 30px;
        }
        
        nav a {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
        }
        .header-buttons {
            display: flex;
            gap: 15px;
        }
       .primary-btn, .secondary-btn {
            padding: 0.25em 1em;
            align-self: flex-start;
            border-radius: 25px;
            text-decoration: none;
            font-size: 14px;
            cursor: pointer;
        } 
       
         .primary-btn{
 background-color: #000;
            color: #fff;             
            border:solid 0.1px #555451;
        }
        .secondary-btn{
           color:#000;
            background-color: #fff!important;
        }
        
        .hero {
                padding: 4rem 2rem;          
        }
        
        .hero h2 {
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0px;
        }
       .hero-img{
        width: 100%;
        height: 400px;
       }
        
     .download-btn{
        margin:1em 0;
        padding:1em 2em
     }
        .download-btn-2{
          align-self: center;
        }
        .service {
            width: 100%;
            height: 120%;
            padding: 1em;
            border-radius: 8px;
            display: flex;
            align-items: center;
            background-color: #1B1912;
        }
        .service div{
            height:90%;
            display: flex;
            background-color: transparent;
               text-align: left;
        }
        .service-text{
            width: 30%!important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
         
        }
          .service-text p{
            color:#999896;
            background-color: transparent;
            font-size: 1.5rem;
          }
           .service-text p strong{
            font-size:1.5rem;
            font-weight: 700;
             background-color: transparent;
           }
            a{
            margin:1em 0;
            text-decoration: none;
            color:rgb(239, 72, 38);
              background-color: transparent;
          }
          
          .service-img{
            width: 70%!important;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
          }
          .service-img img{
            width: 90%;
            height: 480px;
            border-radius: 8px;
          }
        .features {
            padding: 2em 2em;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .features p{
            text-align: center;
            margin-bottom: 2em;
        }
        
        .feature-grid {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 10px;
        }
        
        .feature-card {
            text-align: center;
        }
        
        .feature-icon {
            width: 150px;
            height: 150px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1B1912;
        }
        
       
        
        .service-1, .service-2 ,.service-3{
            height:100%;
            padding: 50px 50px;
        }
        
      .reviews{
        padding: 2em;
        text-align: center;
      }
      .reviews h1{
        font-size: 2rem;  
        font-weight: 400;}
     .review-cards-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:10px;;
        margin-top: 2em;
     }
      .review-card{
        display: flex   ;
        flex-direction: column;
        justify-content: space-between;
        background-color: #1B1912;
        padding: 1em;
        border-radius: 8px;
        text-align: left;
        height:250px;
        width:100%;
      }
       .review-card >p {
        background-color: transparent;
       }
      .review-text{
        color:#fff;
        border-color: transparent;
        margin:1em 0;
     }
     .user-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    background-color: transparent;
    }
    .user-info img{
        width:40px;
        height:40px;
        background-color: #000;
        border-radius: 5px;
    }
    .user-details{
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }
    .user-name{
        color:#fff;
        font-weight: 400;
        background-color: transparent;}
    .user-role{
        color:#999896;
     background-color: transparent;}

     .explore{
        padding: 2em;
        text-align: left;
     }
     .explore h1{
        font-size: 2rem;  
        font-weight: 400;
     }
     .explore-cards-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        margin-top: 2em;
     }
     .explore-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #1B1912;
        padding: 1em;
        border-radius: 8px;
        text-align: left;
     }
     .explore-text p{
        background-color: transparent;
        color:#999896;
        margin:1em 0;
     }
    
     .explore-text{
        background-color: transparent;
     }
     .explore-img{
        width: 100%;
        height: 180px;
        border-radius: 8px;
        background-color: #433d34;
        overflow: hidden;
     }
     .explore-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 8px;
     }
     .change-log{
        padding: 2em;
        text-align: left;
     }
     .change-log-cards-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:10px;;
        margin-top: 2em;
        margin-bottom: 1em;
     }

      .change-log-card{
        display: flex   ;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #1B1912;
        padding: 1em;
        border-radius: 8px;
        text-align: left;
        width:100%;
      }
       .change-log-card >p {
        background-color: transparent;
       }
      .change-log-text{
        background-color: transparent;
        margin:1em 0;
     }
     .log-details{
        display: flex;
        flex-direction: row;
        gap: 1em; background-color: transparent;
     }
     .log-date,.log-text, .log-version{
        background-color: transparent;        
        color:#fff;
     }
     .cta{
        padding:2em;
        text-align: left;
        display: flex;
        flex-direction: column;
     }
     .cta-img{
        width: 100%;
        height: 500px;
        border-radius: 8px;
        background-color: #000;
        overflow: hidden;
     }
     .highlights{
        margin:0 -10em;
        padding: 2em 0;
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #1B1912;
     }
     .highlights p{
        background-color: transparent;
        color:#999896;
        margin:1em 0;
     }
     .highlights-cards{
        display: flex;
        flex-direction: column;
        gap:10px;
         background-color: transparent;
        }
        .highlights-card{
              display: flex   ;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: #26241E;
        padding: 1em;
        border-radius: 8px;
        text-align: left;
        width:100%;
        }
.highlights-card *{
    background-color: transparent;    
}
.highlights-card-text,.highlights-card-footer, span{
    color:#999896;
}
.cta-2{
    padding:2em;  
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
    .cta-2 h1{
        font-size: 2.2rem;  
        font-weight: 600;
        text-align: center
    }
    footer{
            background-color: #1B1912;
            margin: 0 -10em;
             padding: 2em 0;
        }
        footer *{
            background-color: transparent;
        }
       .footer-menu{
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        margin: 2em;
       }
        .footer-menu-item{
            display: flex;
            flex-direction: column;
            gap: 10px;
        
        }
       .menu-item-header, .menu-item{
            font-size: 0.875rem;
            font-weight: 400;
          
        }
        .menu-item-header{
              color:#999896
        }
        @media (max-width: 768px) {
            .feature-grid {
                grid-template-columns: 1fr;
            }
            
            .pricing-cards {
                grid-template-columns: 1fr;
            }
            
            .hero h1 {
                font-size: 36px;
            }
            
            header {
                flex-direction: column;
                gap: 20px;
            }
        }